body, p, h1, h2, h3, a, .game-list, .move-list, .player, .disconnect, .you {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
  margin: 20px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.move-list, .game-list {
  display: flex;
  flex-direction: column-reverse;
}

.Green, .move-correct, .you {
  color: green;
}

.Red, .move-incorrect {
  color: red;
}

/*Code for styleing the button is taken from: http://callmenick.com/post/stylish-css-buttons*/
button {
  padding: 5px;
  font-size: 15px;
}

.number-game, .word-game {
    border-style: dashed;
    padding: 10px;
    margin: 10px;
}
